<div class="add-client">
  <a href="#" (click)="addClient()">+</a>
</div>
<div class="container">
  <div class="chat">
    <div class="chat-title">
      <input type="text" [(ngModel)]="me" />
    </div>
    <div class="messages">
      <div class="messages-content">
        <div class="message message-personal" [ngClass]="{'message-personal': msg.author==me}" *ngFor="let msg of messages | async">
          <span title="{{msg.author}}">{{msg.text}}</span>
          <div class="timestamp">{{msg.time | date:'HH:mm'}}</div>
        </div>

      </div>
    </div>
    <div class="message-box">
      <textarea type="text" class="message-input" (keyup)="onKey($event)" [(ngModel)]="newMessage" placeholder="Type message..."></textarea>
      <button type="submit" class="message-submit" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>